%header
	%div
		= link_to 'Twitter State Sponsored Attack', url_for('/')
	%ul
		%li<
			= link_to 'English', url_for('index.html')
		%li<
			= link_to 'Deutsch', url_for('de.html')
		%li<
			= link_to 'Français', url_for('fr.html')
		%li<
			= link_to 'Italiano', url_for('it.html')
		%li<
			| 
			= link_to 'Press coverage', url_for('press.html')

