%header
	Twitter State Sponsored Attack
	%ul
		%li<
			= link_to 'index.html' do
				= image_tag 'en.png', alt: 'EN'
		%li<
			= link_to 'de.html' do
				= image_tag 'de.png', alt: 'DE'
		%li<
			= link_to 'fr.html' do
				= image_tag 'fr.png', alt: 'FR'
		%li<
			= link_to 'it.html' do
				= image_tag 'it.png', alt: 'IT'

