%h1 Fragen zur Mitteilung von Twitter über mögliche „staatlich unterstützte Hackerangriffe“

%p
	Es sind mittlerweile einige Wochen vergangen, seit
	= succeed ',' do
		= link_to 'Twitter einige seiner Nutzer_innen darauf hingewiesen hat', '/notice.html'
	dass ihre Twitter-Accounts möglicherweise Ziel eines Hackerangriffs geworden sind, hinter dem staatlich unterstützte Täter_innen stehen. Einige von uns, die diese Meldung erhalten haben, haben dies auf Twitter veröffentlicht, andere haben die Medien kontaktiert. Der Vorfall hat für einige Aufmerksamkeit und viele Fragen gesorgt.

%div.center
	%a{href: image_path('notice_de.png'), data: { lightbox: :notice_de, title: 'Twitter notice' }}
		= image_tag 'notice_de_small.png', alt: 'Twitter notice'

%p
	Wir hatten gehofft, nach und nach mehr herauszufinden. Einige von uns haben Twitter Fragen geschickt. Wir haben erwartet, dass die Geschichte von Journalist_innen aufgegriffen werden würde, die zwischen den Zeilen lesen, einen Zusammenhang der Mitteilung von Twitter mit ähnlichen anderer Unternehmen erkennen, oder auf anderem Weg Informationen von oder über Twitter erhalten würden.

%p
	Nichts.

%p
	Wir sind noch genauso ahnungslos wie am Anfang. Es fehlen uns Antworten auf diese Fragen:

%h2 Art der Angriffe

%ul
	%li Wann fanden die Angriffe statt -- unmittelbar vor den ersten Mails im Dezember 2015, oder schon vorher?

	%li Finden weiterhin Angriffe statt?

	%li Woran waren die Angreifer_innen interessiert? In der E-Mail ist von Telefonnummern, IP-Adressen und E-Mails die Rede. Sonst noch etwas?

	%li Was ist mit „DMs“ (Direct Messages / Direktnachrichten)?

	%li Wie wurden die Angriffe entdeckt?

	%li Handelte es sich um automatisierte Brute-Force-Angriffe, oder individuelle Angriffe, hinter denen ein Mensch steckt, oder etwas anderes?

	%li Haben die Angreifer_innen administrativen oder anderen direkten Zugriff zu Twitters Servern erlangt?

	%li Warum vermutet Twitter, dass die Angriffe von staatlich unterstützten Täter_innen stammen?

	%li Wie definiert Twitter staatlich unterstützte Täter_innen?

	%li Hat Twitter einen bestimmten Staat als Ausgangspunkt der Angriffe identifiziert?

	%li Stammen die Angriffe von Täter_innen, die mit der US-Regierung in Verbindung stehen?

	%li Stammen alle Angriffe von denselben Täter_innen?

	%li Was weiß Twitter noch über die Angriffe?

	%li Wie viele Nutzer_innen wurden benachrichtigt?


%h2 Gründe für die Auswahl der Ziele

%ul
	%li Was ist der gemeinsame Nenner der betroffenen Benutzerkonten, falls es einen gibt?

	%li Wurden Accounts angegriffen weil sie kein Tor nutzen / weil sie Tor nutzen / unabhängig von der Nutzung von Tor?


%h2 Twitters Reaktion

%ul
	%li Werden die Benachrichtigungen von Twitter durch Menschen oder automatisiert aufgrund von auffälligem Verhalten verschickt?

	%li Warum fing Twitter jetzt an, die Benachrichtigungen zu senden?

	%li Warum hat Twitter die Nachrichten überhaupt gesendet?

	%li Andere Unternehmen haben ebenfalls begonnen, ähnliche E-Mails zu senden, z. B. Facebook, Google und Yahoo. Ist dies ein abgestimmtes Vorgehen? Was ist der Hintergrund oder die Absicht der Benachrichtigungen?

	%li Warum gibt es verschiende Arten von Benachrichtigungen (E-Mail, Pop-up)?

	%li Was steckt hinter der Empfehlung von Twitter, Tor zu benutzen, wo doch schon viele der betroffenen Nutzer Tor verwenden?

%h2 Rechtliches

%ul
	%li Warum erfahren wir nicht mehr von Twitter?

	%li Wurde Twitter juristisch zum Schweigen verpflichtet?

	%li Gab es richterliche Anordnungen, Strafandrohungen oder National Security Letters in Verbindung mit den Angriffen?

%p
	Wir, die Unterzeichnenden, sind die Eigentümer_innen einiger der betroffenen Accounts, die über die Angriffe informiert wurden. Andere Twitter-Nutzer_innen haben sich dazu entschieden, nicht öffentlich bekanntzugeben, dass sie betroffen sind.

%p
	Wir alle wollen wissen, was das mit uns zu tun hat.

%p
	Falls jemand, der oder die diesen Beitrag liest, mehr darüber weiß: Lass es uns bitte wissen.

%p
	Liebe Journalistinnen, liebe Journalisten: Ihr könnt
	= succeed ',' do
		%a{href: 'mailto:ssa@kubieziel.de'} uns gerne kontaktieren
	wenn das für die Berichterstattung hilfreich ist.

%h1 Unterschriften
= partial 'sign'

= partial 'comments'
